.Rproj.user/
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
.Rproj.user
src/*.o
src/*.dll
.Rproj.user/*
inst/doc
src-i386/*
src-x64/*
.idea/*
cmake-build-debug/*

config.log
config.status
src/Makevars

src/*.tmp
config.log
config.status

inst/img/*.sh
/doc/
/Meta/

build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles
build/compile_commands.json
build/Makefile
build/.cmake/*
