.Rproj.user/
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
.Rproj.user
src/*.o
src/*.dll
.Rproj.user/*
inst/doc
src-i386/*
src-x64/*
.idea/*
cmake-build-debug/*

config.log
config.status
src/Makevars
